.container {
  max-width: 800px;
  margin: 0 auto;
}

.main {
  padding: 4rem 0;
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #ff7b6f;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer a div {
  display: block;
}

.highlight {
  font-weight: bold;
}
.footer a span {
  color: #c8094c;
  font-weight: 900;
}

.title div {
  color: #c8094c;
  text-decoration: none;
}
.title span {
  display: inline-block;
  color: black;
  font-weight: bold;
  border-radius: 5px;
  padding: 0.35rem;
  /* font-size: 1.1rem; */
  /* font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace; */
  transition: all 0.8s;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.65rem;
  max-width: 80%;
}

.grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;

  margin: 0 auto;
}

.card {
  --shadow-color: red;
  margin: "0 auto";
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* box-shadow: 0px 0px 10px 0px #ff7b6f; */
  box-shadow: 0.5px 0.2px 1.2px rgba(255, 54, 27, 0.015),
    1px 0.5px 2.7px rgba(255, 54, 27, 0.022),
    1.7px 0.9px 4.6px rgba(255, 54, 27, 0.027),
    2.6px 1.4px 6.9px rgba(255, 54, 27, 0.031),
    3.8px 2px 10px rgba(255, 54, 27, 0.035),
    5.3px 2.8px 14.2px rgba(255, 54, 27, 0.039),
    7.5px 4px 20.1px rgba(255, 54, 27, 0.043),
    11px 5.8px 29.2px rgba(255, 54, 27, 0.048),
    16.9px 9px 45px rgba(255, 54, 27, 0.055),
    30px 16px 80px rgba(255, 54, 27, 0.07);

  border-radius: 10px;
  transition: all 0.15s ease;
  /* max-width: 100%; */
  width: 90%;
  line-height: 1.5;
}

.card:hover,
.card:focus,
.card:active {
  cursor: pointer;
  /* outline: 4px solid #c8094c; */
  /* box-shadow: 0px 0px 20px 0px #c8094c; */
  /* box-shadow: 6px 9px 15px #c8094c; */
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.65rem;
  font-weight: 300;
}

.card p {
  margin: 0;
  font-size: 1rem;
  line-height: 1;
  font-weight: 100;
  text-transform: uppercase;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .description {
    max-width: unset;
  }
}

.backHome {
  bottom: 0;
  right: 0;
  display: block;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  font-weight: bold;

  align-self: flex-end;
  padding-right: 10%;
}


.toggleFullChapter {
  color: #c8094c;
  float: right;

  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;

  padding: 0.5em 0.8em;
  border-radius: 10px; 
}
.toggleFullChapter:hover {
  cursor: pointer;
}

.toggleFullChapter > span {
  display: inline-block;
  transform: scale(0.1);
}

.card:hover .toggleFullChapter {
  transform: scale(1.05);
}
.card:hover .toggleFullChapter span{
   transform: scale(1.05);
}



.fullChapterPassage {

  margin: 2rem auto auto auto;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  /* box-shadow: 0px 0px 10px 0px #ff7b6f; */
  box-shadow: 0.5px 0.2px 1.2px rgba(255, 54, 27, 0.015),
    1px 0.5px 2.7px rgba(255, 54, 27, 0.022),
    1.7px 0.9px 4.6px rgba(255, 54, 27, 0.027),
    2.6px 1.4px 6.9px rgba(255, 54, 27, 0.031),
    3.8px 2px 10px rgba(255, 54, 27, 0.035),
    5.3px 2.8px 14.2px rgba(255, 54, 27, 0.039),
    7.5px 4px 20.1px rgba(255, 54, 27, 0.043),
    11px 5.8px 29.2px rgba(255, 54, 27, 0.048),
    16.9px 9px 45px rgba(255, 54, 27, 0.055),
    30px 16px 80px rgba(255, 54, 27, 0.07);

  border-radius: 10px;
  transition: all 0.15s ease;
  /* max-width: 100%; */
  width: 90%;
  line-height: 1.5;
}

